---
layout: page
title: Categories
---

<div class="home">

  <h1 class="page-heading">Tags</h1>
{% for category in site.categories %}
    <h23>{{ category[0] }}</h2>
    <ul class="post-list">
        {% for post in category[1] %}
        <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

            <h3>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h3>
        </li>
        {% endfor %}
    </ul>
{% endfor %}
</div>
