---
layout: page
title: Tags
---

<div class="home">

  <h1 class="page-heading">Tags</h1>
{% for tag in site.tags %}
    <h2>{{ tag[0] }}</h2>
    <ul class="post-list">
        {% for post in tag[1] %}
        <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

            <h3>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h3>
        </li>
        {% endfor %}
    </ul>
{% endfor %}
</div>
