---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
  <p class="post-meta">
    {% if page.categories %}
    <span>
      {% for category in page.categories %}
        <a href="/categories#{{ category }}">{{ category }}</a>
      {% endfor %}
    </span>
    {% endif %}
    {% if page.tags %}
    <span>
      {% for tag in page.tags %}
        <a href="/tags#{{ tag }}">{{ tag }}</a>
      {% endfor %}
    </span>
    {% endif %}
  </p>

</article>
